<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Tram Truong</h2>
            <h4>tramtruongrcm@gmail.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>
    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/das">Quản lí User</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Quản lí bài đăng</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/products">Quản lí sản phẩm</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/orders">Quản lí Order</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/feedback">Phản hồi Feedback</a>
    <mat-divider></mat-divider>

    <!-- <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a> -->

    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a> -->

</mat-nav-list>
