
<mat-tab-group mat-align-tabs="center">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">account_circle</mat-icon>
            Edit Profile
        </ng-template>
        <form class="example-form" [formGroup]="admin" (ngSubmit)="onSubmit()">
            <mat-form-field class="example-full-width">
                <mat-label>Fullname</mat-label>
                <input matInput formControlName="FullName">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Phone number</mat-label>
                <input matInput formControlName="PhoneNumber">
            </mat-form-field>
            <!-- <mat-form-field class="example-full-width">
                <mat-label>Birthday</mat-label>
                <input matInput formControlName="Birthday">
            </mat-form-field> -->
            <mat-form-field class="example-full-width_1">
                <mat-label>Address</mat-label>
                <textarea matInput formControlName="Address"></textarea>
            </mat-form-field>
        </form>
        <div class="example-button-row">
            <button mat-raised-button color="primary" type="submit">Save</button>
            <button mat-raised-button color="warn" routerLink="/das">Cancel</button>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">lock</mat-icon>
            Edit Password
        </ng-template>
        <form class="example-form" [formGroup]="password">
            <mat-form-field class="example-full-width">
                <mat-label>Old Password</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>New Password</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Repeat New Password</mat-label>
                <input matInput>
            </mat-form-field>
        </form>
        <div class="example-button-row">
            <button mat-raised-button color="primary" type="submit">Save</button>
            <button mat-raised-button color="warn" routerLink="/das">Cancel</button>

        </div>
    </mat-tab>

</mat-tab-group>
