<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">account_circle</mat-icon>
            Edit Profile
        </ng-template>
        <form class="example-form">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input matInput value="dinhqquangduynt@gmail.com">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Fullname</mat-label>
                            <input matInput value="Dinh Quang Duy">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Phone number</mat-label>
                            <input matInput value="0977694163">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Birthday</mat-label>
                            <input matInput value="26-03-1998">
                        </mat-form-field>
                    </td>
                </tr>
                <p>
                    <mat-form-field class="example-full-width_1">
                        <mat-label>Address</mat-label>
                        <textarea matInput>Ngo Thi Nham</textarea>
                    </mat-form-field>
                </p>
            </table>

        </form>
        <div class="example-button-row">
            <button mat-raised-button color="primary">Save</button>
            <button mat-raised-button color="warn">Cancel</button>

        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">lock</mat-icon>
            Edit Password
        </ng-template>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Old Password</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>New Password</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Repeat New Password</mat-label>
                <input matInput>
            </mat-form-field>
        </form>
        <div class="example-button-row">
            <button mat-raised-button color="primary">Save</button>
            <button mat-raised-button color="warn">Cancel</button>

        </div>
    </mat-tab>

</mat-tab-group>