<div class="contact-section">
  <div class="inner-width">
      <h1>Feedback from Customer</h1>
      <form [formGroup] = "getfeedback" (ngSubmit)="onSubmit()">
      <input type="text" class="name" formControlName="Name" placeholder="Customer Name">
      <input type="text" class="email" formControlName="Email" placeholder="Customer Email">
      <textarea rows="1" class="message" formControlName="Message" placeholder="Message"></textarea>
      <hr>
      <h1>Feedback to Customer</h1>
      <input type="text" class="name title" formControlName="Title" placeholder="Title">
      <textarea rows="1" class="message" formControlName="EmailContent" placeholder="EmailContent"></textarea><br>
      <input type="submit" class="send" name="sub" value="SEND">
      </form>
  </div>
</div>


