table {
  width: 100%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 80%;
}
.search {
  margin-left: 350px;
}
.example-full-width {
  width: 80%;
}
.material-icons.color_green {
  color: #31a531;
}

