<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Search box</mat-label>
    <input type="text" matInput (keyup)="applyFilter($event.target.value)" placeholder="enter key word" formControlName = "keywork">

  </mat-form-field>
</form>
<a mat-raised-button class="material-icons color_green" routerLink="/addpostcate">+ Add new</a>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
  </ng-container>


  <ng-container matColumnDef="PostCategoryName">
    <th mat-header-cell *matHeaderCellDef> Post Category Name </th>
    <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
  </ng-container>

  <ng-container matColumnDef="Alias">
    <th mat-header-cell *matHeaderCellDef> Alias </th>
    <td mat-cell *matCellDef="let element"> {{element.Alias}} </td>
  </ng-container>


  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button [routerLink]="['/editpostcate', row.ID]" ><mat-icon>launch</mat-icon></button>
      <button mat-icon-button color="warn" (click)="onDelete(row.ID)"><mat-icon>delete_outline</mat-icon></button>
      <button mat-icon-button color="primary" matTooltip="Detail about PostCategory" [routerLink]="['/postlist', row.ID]"><mat-icon>info</mat-icon></button>
    </mat-cell>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
