<form [formGroup]="postForm"(ngSubmit)="onSubmit()">
          <table>
            <tr>
              <td class="tbl1">
                <mat-form-field class="demo-full-width">
                  <input formControlName="Name" matTooltip="Enter PostCategory Name" matInput placeholder="PostCategory Name">
                </mat-form-field>
                <mat-error>
                  <span *ngIf="!postForm.get('Name').value && postForm.get('Name').touched"></span>
                </mat-error>
              </td>
              <td class="tbl1">
                <mat-form-field class="demo-full-width">
                  <input matInput [matDatepicker]="picker"matTooltip="Enter created Date" formControlName="CreatedDate"placeholder="Choose created date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-error>
                  <span *ngIf="!postForm.get('CreatedDate').value && postForm.get('CreatedDate').touched"></span>
                </mat-error>
              </td>
              <td class="tbl1">
                <mat-form-field class="demo-full-width">
                  <input formControlName="CreatedBy" matTooltip="Enter person's name" matInput placeholder="CreatedBy">
                </mat-form-field>
                <mat-error>
                  <span *ngIf="!postForm.get('CreatedBy').value && postForm.get('CreatedBy').touched"></span>
                </mat-error>
              </td>
            </tr>
            <tr>
              <td class="tbl1">
                <mat-form-field class="demo-full-width">
                  <input matTooltip="Enter Image"formControlName="Image" matInput placeholder="Image">
                </mat-form-field>
                <mat-error>
                  <span *ngIf="!postForm.get('Image').value && postForm.get('Image').touched"></span>
                </mat-error>
              </td>
              <td class="tbl1">
                <mat-form-field class="demo-full-width">
                  <input formControlName="Alias" matTooltip="Enter Alias" matInput placeholder="Alias">
                </mat-form-field>
                <mat-error>
                  <span *ngIf="!postForm.get('Alias').value && postForm.get('Alias').touched"></span>
                </mat-error>
              </td>
              <td class="tbl1">
                <mat-form-field class="demo-full-width">
                  <input formControlName="Description" matTooltip="Enter Description" matInput placeholder="Description">
                </mat-form-field>
                <mat-error>
                  <span *ngIf="!postForm.get('Description').value && postForm.get('Description').touched"></span>
                </mat-error>
              </td>
            </tr>
            <tr>
              <td></td>
              <td  class="content-center">
                <button type="submit" mat-raised-button color="accent"matTooltip="Click Submit Button"[disabled]="!postForm.valid">Submit</button>
                <button type="reset" mat-raised-button color="accent"matTooltip="Click Reset Button" (click)="resetForm()">Reset</button>
              </td>
              <td>
                <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold;align-self:left;" Class="success" >
                  {{massage}}
                </p>
              </td>
            </tr>
          </table>
