<div fxLayoutAlign="center center" fxFlexFill class="container">
  <mat-card fxFlex="25">
    <mat-toolbar>
      <img src="./assets/img/LOGO_DNF.png" alt="">
      Login Page</mat-toolbar>
    <form class="form" fxLayoutAlign="stretch" fxLayout="column">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter Username" name="username" [(ngModel)]="loginadmindata.Username">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Enter Password" name="password" [(ngModel)]="loginadmindata.Password">
      </mat-form-field>
      <button mat-raised-button type="submit" (click)="loginUser()">Login</button>
    </form>

  </mat-card>
</div>
