<div class="contact-section">
    <div class="inner-width">
        <h1>Feedback from Customer</h1>
        <input type="text" class="name" placeholder="Customer Name">
        <input type="text" class="email" placeholder="Customer Email">
        <textarea rows="1" class="message" placeholder="Message"></textarea>
        <hr>
        <h1>Feedback to Customer</h1>
        <input type="text" class="name title" placeholder="Title">
        <textarea rows="1" class="message" placeholder="Message"></textarea><br>
        <input type="submit" class="send" name="sub" value="SEND">
    </div>
</div>